*.png
*.gif
.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
.openapi-generator-ignore
**/.openapi-generator/*
*.md
*.woff2
*.svg
*.webp
.env*
Jenkinsfile
Dockerfile
Makefile
*.rdb
*.proto
*.ico
*.sh
*.prettierignore
.npmrc
*.ttf
.clinerules
static/robots.txt
